
.bg-portafolio-nav{
    background: brown;
    
}

#services{
    text-align: center;
    padding: 100px 0;
}

#services h2{
    margin-bottom: 60px;
}

#ciclistas {
    text-align: left;
    padding: 100px 0;
}
#ciclistas h2{
    text-align: center;
    color:brown;
}


